

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 237, 218);
}

/* navbar sectio  */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    background-color: rgb(71, 33, 71);
    position: sticky;
    top: 0px;
    z-index: 1;
}
#navbar a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: lightgreen;
    /* margin-left: 10px; */
}
#left a{
    font-style: italic;
    font-weight: bolder;
}
#search{
    width: 300px;
    border-radius: 6px;
    padding: 5px;
    background-color: #f2e2c4eb;
    border: none;

}
#navbar #right{
    display: flex;
    justify-content: space-between;
}
#right >a{
margin-left: 20px;
font-size: 1em;
}

#debounce{
    position: absolute;
    top: 8%;
    left: 37.2%;
    border-radius: 7px;
    overflow: auto;
    width: 300px;
    /* height: 400px; */
    background-color: wheat;
    /* height: 500px; */
    max-height: 300px;
}
h5:hover{
    color: blue;
}

/* CONTAINER SECTION  */
#container{
    width: 95%;
    margin:30px auto;
    grid-gap: 30px;
    row-gap: 10px
    ;
    /* border: 2px solid red; */
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,0.8fr);
}
#container div{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 15s ease-in-out 0s;
    background-color: white;
    padding: 10px;
}
#container div img{
    width: 100%;
    border-radius: 50%;
}

/* hover effect */
#container div:hover{
    position: relative;
    top: 5px;
    left: 5px;
}


#debounce::-webkit-scrollbar {
    width: 0px;
  }
  
  